body {
    font-family: Arial, sans-serif;
    padding: 20px;
}
#message {
    margin-top: 20px;
    font-size: 18px;
    color: green;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.card {
    width: 40%;
    min-width: 40%;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 8px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}

.input-field {
    width: 100%;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid gray;
}